@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.manrope-font{
    font-family: "Manrope", sans-serif;
}

.banner-main-section{
    margin: 120px auto;
}

.left-div p{
    m
}

.btn-1{
    padding: 10px 22px;
    border-radius: 7px;
}